<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head.ejs") %>
    <title>Edit country</title>
    <link rel="stylesheet" href="/css/Admin.css" />
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>

    <main>
      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 3rem 3rem 0;
        "
      />
      <section class="formular">
        <h2>Edit country</h2>
        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />

        <div class="countries">
          <div class="redirect-btns">
            <a href="/Countries" class="countries-btn"
              ><img src="/icons/redirect-btn.png" alt="redirect"
            /></a>
            <a href="/Countries" class="countries-btn">Countries</a>
          </div>
        </div>

        <form
          action="/admin/Countries/<%= country.count_id %>/edit"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-body">
            <% if(inputData.errorMessage){ %>
            <p class="error-message"><%= inputData.errorMessage %></p>
            <% } %>

            <label for="description">Description:</label>
            <input
              type="text"
              name="description"
              id="description"
              placeholder="Description"
              value="<%= inputData.description %>"
              required
            />

            <label for="short_description">Short description:</label>
            <input
              type="text"
              name="short_description"
              id="short_description"
              placeholder="Short description"
              value="<%= inputData.short_description %>"
            />

            <% if (inputData.image) { %>
            <label>Current image:</label><br />
            <img
              src="/images/<%= inputData.image %>"
              alt="Trip Image"
              style="max-width: 300px; height: auto"
            />
            <% } %>

            <input type="hidden" name="image" value="<%= inputData.image %>" />

            <label for="image" style="margin-top: 0.75rem"
              >Upload new image:</label
            >
            <input type="file" name="image" id="image" accept="image/*" />
          </div>
          <div class="form-btn">
            <button
              class="send-button"
              type="submit"
              style="border-radius: 0.25rem"
            >
              Edit
            </button>
          </div>
        </form>
      </section>
      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 3rem 3rem;
        "
      />
    </main>

    <footer><%- include("../includes/footer.ejs") %></footer>
  </body>
</html>
