<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/Admin.css" />
    <title>Portal users</title>
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>

    <main>
      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 3rem 3rem 1.5rem;
        "
      />
      <section class="list">
        <h1>Portal users</h1>
        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 2.5rem 3rem;
          "
        />
        <section class="users-list-section">
          <table>
            <thead>
              <tr>
                <% for(const h of head) { %>
                <th scope="col"><%= h.value %></th>
                <%}%>
              </tr>
            </thead>
            <tbody>
              <% for(const user of users) { %>
              <tr>
                <% for(const h of head) { %> <%-
                include("includes/usertable-row", {h, user}) %> <%}%>
              </tr>
              <%}%>
            </tbody>
          </table>
        </section>
      </section>

      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 3rem 3rem 0;
        "
      />

      <dialog id="confirmDialog">
        <h4></h4>
        <div class="delete-btns">
          <button id="cancelDialogButton">Cancel</button>
          <button id="confirmDialogButton">Confirm</button>
        </div>
      </dialog>
    </main>

    <footer><%- include("../includes/footer.ejs") %></footer>
    <script src="/scripts/deleteButton.js" defer></script>
  </body>
</html>
