<td>
  <% if(h.id === "action") { %>
  <div class="divButton">
    <a
      style="font-size: 24px"
      href="/admin/user/<%= user.user_id %>/edit"
      data-userId="<%= user.user_id %>"
      ><i class="icon-edit"><img src="/icons/edit icon.png" alt="edit" /></i
    ></a>
    |
    <span
      style="font-size: 24px"
      class="delete-button"
      data-type="user"
      data-userid="<%= user.user_id %>"
      data-username="<%= user.name %>"
    >
      <i class="icon-trash"
        ><img src="/icons/delete icon.png" alt="delete"
      /></i>
    </span>
  </div>
  <% } else { %> <%= user[h.id] %> <% } %>
</td>
