<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head.ejs") %>
    <title>Book list</title>
    <link rel="stylesheet" href="/css/Book-list.css" />
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>

    <main>
      <section class="list">
        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />
        <h2>My bookings</h2>
        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />

        <section class="book-list-section">
          <table class="book-list-table">
            <thead>
              <% if(bookings && bookings.length > 0){ %>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
                <th>Trip</th>
                <th>Amount of people</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < bookings.length; i++) {%>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= bookings[i].name %> <%= bookings[i].surname %></td>
                <td><%= bookings[i].phone %></td>
                <td><%= bookings[i].email %></td>
                <td><%= bookings[i].country %></td>
                <td><%= bookings[i].city %></td>
                <td><%= bookings[i].trip_tit %></td>
                <td><%= bookings[i].ppl_amount %></td>
                <td>
                  <div class="change-btns">
                    <a
                      href="/Book/<%= bookings[i].book_id %>/edit"
                      class="update-btn"
                      ><img src="/icons/edit icon.png" alt="edit"
                    /></a>
                    |
                    <a
                      href="#"
                      class="delete-button"
                      data-type="book"
                      data-bookid="<%= bookings[i].book_id %>"
                      data-booknumber="<%= i+1 %>"
                      ><img src="/icons/delete icon.png" alt="delete"
                    /></a>
                  </div>
                </td>
              </tr>
              <% } %> <% } else { %>
              <tr>
                <td colspan="9">No personal bookings found</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>

        <br />

        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />

        <% if(locals.isAdmin) {%>

        <h2>All Users' Bookings</h2>

        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />
        <section class="book-list-section">
          <table class="book-list-table">
            <thead>
              <% if(allUserBookings && allUserBookings.length > 0){ %>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
                <th>Trip</th>
                <th>Amount of people</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < allUserBookings.length; i++) {%>
              <tr>
                <td><%= i + 1 %></td>
                <td>
                  <%= allUserBookings[i].name %> <%= allUserBookings[i].surname
                  %>
                </td>
                <td><%= allUserBookings[i].phone %></td>
                <td><%= allUserBookings[i].email %></td>
                <td><%= allUserBookings[i].country %></td>
                <td><%= allUserBookings[i].city %></td>
                <td><%= allUserBookings[i].trip_tit %></td>
                <td><%= allUserBookings[i].ppl_amount %></td>
                <td>
                  <div class="change-btns">
                    <a href="/Book/<%= allUserBookings[i].book_id %>/edit"
                      ><img src="/icons/edit icon.png" alt="edit"
                    /></a>
                    |
                    <a
                      href="#"
                      class="delete-button"
                      data-type="book"
                      data-bookid="<%= allUserBookings[i].book_id %>"
                      data-booknumber="<%= i+1 %>"
                      ><img src="/icons/delete icon.png" alt="delete"
                    /></a>
                  </div>
                </td>
              </tr>
              <% } %> <% } else { %>
              <tr>
                <td colspan="9">No user bookings found</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>

        <%- include("../includes/confirmDialog.ejs") %>

        <hr
          style="
            height: 1.5px;
            color: #8b0000;
            background-color: #8b0000;
            opacity: 100%;
            margin: 0 3rem;
          "
        />
        <% } %>
      </section>
    </main>
    <%- include("../includes/contact-option.ejs") %>

    <footer><%- include("../includes/footer.ejs") %></footer>

    <script src="/scripts/deleteButton.js" defer></script>
  </body>
</html>
